@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1;
  color: #000;
  background-color: #ccc;
}

input,
button,
textarea {
  font-family: inherit;
  background-color: transparent;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1510px;
}

.container-offset {
  margin-top: 50px;
}

[data-simplebar] {
  overflow: auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ========== HEADER ========== */
.header {
  padding: 35px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}
.nav__link {
  padding: 10px 15px;
  border: 1px solid #000;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.nav__link:hover {
  transform: scale(1.5);
  background-color: #000;
  color: #fff;
}
.nav__item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* ========== TABS ========== */
.tabs__content {
  max-width: 900px;
}
.tabs__list {
  display: flex;
  margin-bottom: 20px;
}
.tabs__item {
  border: 1px solid #000;
}
.tabs__item:not(:last-child) {
  margin-right: 20px;
}
.tabs__btn {
  padding: 7px 10px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(180, 180, 180);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
.tabs__btn:hover {
  color: #fff;
  background-color: #000;
}
.tabs__btn--active {
  color: #fff;
  background-color: #000;
}
.tabs__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  color: #000;
}
.tabs__info {
  display: none;
  border: 1px solid #000;
}
.tabs__info--active {
  display: flex;
  animation: 1s fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs__text {
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  color: #4b4b4b;
}

/* ========== HIDE-SHOW ========== */
.hide-show__btn {
  overflow-anchor: none;
  margin-bottom: 10px;
  padding: 7px 10px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 15px;
  background-color: rgb(180, 180, 180);
}
.hide-show__content {
  display: flex;
  max-width: 900px;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}
.hide-show__content--active {
  height: 275px;
  border: 1px solid #000;
}
.hide-show__descr {
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  color: #4b4b4b;
}
.hide-show__img {
  width: 367px;
  height: 273px;
  object-fit: cover;
}

/* ========== ACCORDION ========== */
.accordion {
  max-width: 900px;
  margin-bottom: 20px;
}
.accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  border: 1px solid #000;
}
.accordion__control::-webkit-details-marker {
  display: none;
}
.accordion__title {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.accordion__icon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #000;
  transition: transform 0.4s ease-in-out;
}
.accordion__content {
  padding: 20px;
  border: 1px solid #000;
  border-top: 1px solid transparent;
  font-size: 18px;
  color: #000;
}

.accordion[open] .accordion__icon {
  transform: rotate(90deg);
}

/* ========== JSACCARDION ========== */
.jsaccordion {
  max-width: 900px;
}
.jsaccordion__item:not(:last-child) {
  margin-bottom: 10px;
}
.jsaccordion__item {
  width: 100%;
  height: 100%;
}
.jsaccordion__item--open .jsaccordion__content {
  padding: 20px;
  border: 1px solid #000;
  border-top: 1px solid transparent;
  height: 100px;
}
.jsaccordion__item--open .jsaccordion__icon {
  transform: rotate(90deg);
}
.jsaccordion__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  border: 1px solid #000;
}
.jsaccordion__title {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.jsaccordion__icon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #000;
  transition: transform 0.4s;
}
.jsaccordion__content {
  height: 0;
  overflow: hidden;
  font-size: 18px;
  color: #000;
  transition: all 0.4s;
}

/* ========== MODAL ========== */
.modal {
  position: relative;
}
.modal__btn {
  margin-right: 15px;
  padding: 6px 10px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 15px;
  background-color: rgb(180, 180, 180);
}
.modal__btn:active {
  transform: scale(1);
}
.modal__btn:hover {
  color: #000;
}

.content {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s;
}
.content__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content__header {
  padding: 20px;
  border: 1px solid #000;
  border-bottom: transparent;
  background-color: rgb(180, 180, 180);
}
.content__title {
  font-weight: 500;
  font-size: 26px;
}
.content__main {
  border: 1px solid #000;
  background-color: #ccc;
}
.content__text {
  padding: 20px;
  font-size: 18px;
}
.content__btn {
  margin: 0 0 20px 20px;
  padding: 6px 10px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: rgb(180, 180, 180);
}
.content--active {
  display: block;
}

/* ========== BURGER ========== */
.mobileNav__wrapper {
  position: relative;
  margin-bottom: 200px;
  width: 400px;
}
.mobileNav__header {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-bottom-width: 100%;
  overflow: hidden;
  width: 100%;
  height: 40px;
  background-color: rgb(180, 180, 180);
  transition: border-bottom-width 0.4s;
}
.mobileNav__header--active {
  border-bottom-width: 0;
}
.mobileNav__text {
  margin-left: 30px;
  font-weight: 500;
  font-size: 17px;
}
.mobileNav__content {
  position: absolute;
  left: -100%;
  z-index: -1;
  width: 100%;
  border: 1px solid #000;
  transition: 0.4s ease;
}
.mobileNav__content--active {
  left: 0;
  z-index: 20;
}
.mobileNav__list {
  margin: 20px 0;
}
.mobileNav__item:not(:last-child) {
  margin-bottom: 10px;
}
.mobileNav__link {
  padding-left: 20px;
  font-size: 17px;
}

.burger {
  position: relative;
  border: none;
  padding: 0;
  width: 25px;
  height: 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - 2px);
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

/* ========== DROP DOWN ========== */
.dropDown {
  margin-top: 250px;
}
.dropDown__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
}

.drop-down {
  position: relative;
  max-width: 400px;
  width: 100%;
}
.drop-down__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 11px;
  border: 1px solid #000;
  background-color: rgb(180, 180, 180);
}
.drop-down__selected {
  font-weight: 500;
  font-size: 17px;
}
.drop-down__caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #000;
  transition: transform 0.4s;
}
.drop-down__menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background-color: #ccc;
  transform: translateY(-30%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.drop-down__menu--active {
  opacity: 1;
  transform: none;
  z-index: 200;
}
.drop-down__item {
  padding: 8px 0;
  padding-left: 20px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
}
.drop-down__item:not(:last-child) {
  margin-bottom: 5px;
}
.drop-down__item:hover {
  background-color: rgb(180, 180, 180);
}
.drop-down__item--active {
  background-color: rgb(180, 180, 180);
}

.shop__header {
  padding: 15px 20px;
  border: 1px solid #000;
  border-bottom: transparent;
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(180, 180, 180);
}

.product {
  padding: 20px;
  border: 1px solid #000;
  background-color: #ccc;
}
.product__image {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  height: 180px;
}
.product__title {
  margin-bottom: 10px;
  line-height: 24px;
}
.product__props {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.product__rating {
  font-weight: 600;
}
.product__rating::before {
  content: "★";
  font-weight: 600;
  font-size: 20px;
}
.product__testimonials {
  margin-left: 10px;
  color: rgb(95, 95, 95);
}
.product__info {
  margin-bottom: 20px;
  color: rgb(95, 95, 95);
}
.product__term {
  display: block;
  margin-bottom: 10px;
}
.product__available {
  display: block;
}
.product__btn {
  border: 1px solid #000;
  padding: 15px;
  width: 100%;
  font-weight: 500;
  background: rgb(180, 180, 180);
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
.product__btn:hover {
  background-color: #000;
  color: #fff;
}
.product__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.image-switch {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.image-switch__item {
  flex-grow: 1;
  cursor: pointer;
}
.image-switch__item:first-child .image-switch__img {
  opacity: 1;
  z-index: -1;
}
.image-switch__item:hover .image-switch__img {
  opacity: 1;
}
.image-switch__img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateX(-50%);
  background-color: #ccc;
  opacity: 0;
}
.image-switch__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}
.image-pagination__itam {
  display: block;
  width: 5px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: rgb(180, 180, 180);
}
.image-pagination__itam--active {
  background-color: #000;
}

.product-price {
  margin-bottom: 20px;
}
.product-price__current {
  margin-right: 10px;
  font-weight: 500;
}
.product-price__old {
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  color: rgb(99, 99, 99);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3 span;
  gap: 20px;
}

.filters {
  position: relative;
}

.filters-price__title {
  font-weight: 500;
  font-size: 20px;
}
.filters-price__input {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
}
.filters-price--fixed {
  position: fixed;
  top: 20px;
  left: 0;
}
.filters-price--absolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.cart {
  position: relative;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/cart-shop.svg");
  transition: background-color 0.3s;
}
.cart__quantity {
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  color: #fff;
  background-color: black;
  transform: translate(130%, -150%);
}
.cart.active {
  cursor: pointer;
}
.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.cart-content {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  width: 400px;
  border: 1px solid #000;
  background-color: #ccc;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transform: opacity 0.3s, visibility 0.3s;
}
.cart-content__list {
  overflow: auto;
  max-height: 170px;
}
.cart-content__list .simplebar-scrollbar::before {
  background-color: #000;
  width: 4px;
  left: 5px;
}
.cart-content__item:not(:last-child) {
  margin-bottom: 10px;
}
.cart-content__item:hover {
  background-color: rgba(95, 95, 95, 0.2);
}
.cart-content__buttom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cart-content__fullprice {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
  color: rgb(95, 95, 95);
}
.cart-content__btn {
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  transition: background 0.1s ease-in, color 0.1s ease-in;
}
.cart-content__btn:hover {
  background-color: #000;
  color: #fff;
}

.cart-product {
  display: flex;
  align-items: center;
}
.cart-product__img {
  width: 50px;
  height: 50px;
}
.cart-product__text {
  max-width: 280px;
}
.cart-product__title {
  font-size: 12px;
  margin-bottom: 5px;
}
.cart-product__price {
  font-weight: 600;
  font-size: 14px;
}
.cart-product__delete {
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/delete.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fullprice {
  color: #000;
  font-weight: 500;
}

.order-modal__content {
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
}
.order-modal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.order-modal__title {
  font-weight: 700;
  font-size: 18px;
}
.order-modal__info {
  margin-bottom: 30px;
}
.order-modal__quantity {
  margin-bottom: 5px;
}
.order-modal__summ {
  margin-bottom: 5px;
}
.order-modal__btn {
  display: block;
  margin-bottom: 5px;
}
.order-modal__btn::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #000;
  transition: transform 0.4s;
}
.order-modal__list {
  display: none;
}
.order-modal__list--active {
  display: block;
}
.order-modal__item:not(:last-child) {
  margin-bottom: 7px;
}
.order-modal__product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #000;
  max-width: 500px;
}
.order-modal__form {
  display: flex;
  flex-direction: column;
}

.order-product__img {
  max-width: 60px;
  max-height: 60px;
}
.order-product__text {
  margin-left: 15px;
}
.order-product__title {
  font-size: 14px;
}
.order-product__price {
  font-weight: 500;
  font-size: 14px;
}
.order-product__delete {
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/delete.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.order__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 18px;
}
.order__input {
  padding: 0 10px;
  border-radius: 4px;
  height: 40px;
  outline: none;
  background-color: rgb(131, 131, 131);
}
.order__text {
  font-size: 16px;
}
.order__input::placeholder {
  font-size: 14px;
  color: #ccc;
}
.order__input:focus {
  outline: #000;
}
.order__btn {
  width: 100%;
  background-color: rgb(180, 180, 180);
  padding: 10px 0;
  border: 1px solid #000;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.order__btn:hover {
  color: #fff;
  background-color: #000;
}

/* ========== FORM ========== */
.forma__wrapper {
  max-width: 500px;
}
.forma__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-bottom: transparent;
  min-height: 40px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgb(180, 180, 180);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid #000;
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 17px;
}
.form__label span {
  margin-bottom: 5px;
  user-select: none;
}
.form__input {
  padding: 10px;
  outline: none;
  border: 1px solid #000;
}
.form__textarea {
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid #000;
  outline: none;
  padding: 20px;
  min-height: 125px;
  max-width: 100%;
  resize: none;
}
.form__btn {
  margin-top: 20px;
  height: 40px;
  background-color: rgb(180, 180, 180);
  border: 1px solid #000;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease;
}
.form__btn:hover {
  color: #fff;
  background-color: #000;
}

.family-smoking {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.family-smoking__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
}
.family-smoking__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.family-smoking__input:checked + .family-smoking__style::before {
  transform: translate(-50%, -50%) scale(1);
}
.family-smoking__style {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #000;
}
.family-smoking__style::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #000;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}
.family-smoking__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
}
.family-smoking__label span {
  user-select: none;
}
.family-smoking__label:not(:last-child) {
  margin-bottom: 5px;
}

.family-status {
  margin-bottom: 30px;
}
.family-status__title {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.family-status__foto {
  margin-top: 20px;
}

.select {
  background-color: #ccc;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
